/* styles.css */
.swiper {
  width: 100%; /* 占满容器 */
}

/* 默认高度 */
.swiper-container {
  height: 50vh; /* 默认高度 */
}

/* 小屏幕 */
@media (max-width: 640px) {
  .swiper-container {
    height: 33vh; /* 小屏幕上的高度 */
  }
}

/* 中屏幕 */
@media (min-width: 641px) and (max-width: 1024px) {
  .swiper-container {
    height: 33vh; /* 中屏幕上的高度 */
  }
}

/* 大屏幕 */
@media (min-width: 1025px) {
  .swiper-container {
    height: 61.8vh; /* 大屏幕上的高度 */
  }
}
